{{#> index.html}}
<section>
  <header>
      <h1>Technology Consulting</h1>
  </header>
  <style>
    main>section>section{
      display: flex;
      flex-flow: row nowrap;
      width: 100%;
      justify-content: center;
    }
    main>section>section div {
      padding: 0 1em;
      text-justify: center;
    }
    main>section>section div h2{
      font-weight: 400;
      font-size: 2em;
      margin-top: 1.3em;
      text-align: center;
    }
    @media (max-width: 1680px) {
    }

    @media (max-width: 1280px) {
    }

    @media (max-width: 980px) {
      main>section>section {
        flex-flow: row wrap;
      }
    }

    @media (max-width: 736px) {
    }

    @media (max-width: 480px) {
    }

    @media (max-width: 360px) {
    }

  </style>
  <section>
    <div>
      <h2>Cloud Migration</h2>
      <p>
        Whether it's reducing data center costs or your legacy system has become a value detractor, we can help you move to the cloud faster.
      </p>
    </div>
    <div>
      <h2>Reliable APIs</h2>
      <p>
        Building APIs can be easy. But there's some hidden traps that you don't need to take on alone. We've been there and done that. Let us help you navigate those waters and build reliable APIs.
      </p>
    </div>
    <div>
      <h2>Scalable Web Sites</h2>
      <p>
        Whether it accepts orders from customers or your own employees. We've been through every layer of growing pains. Let us help you. We can be a great partner on your scaling journey.
      </p>
    </div>
  </section>
</section>
{{/index.html}}